{% extends 'base.html' %}
{% block title %}Task List{% endblock %}

{% block content %}
    <div class="w-full h-screen bg-gray-100 pt-8">
        <div class="bg-white p-3 max-w-md mx-auto">
            <div class="pt-10 text-center">
                <h1 class="text-3xl font-bold">{{request.user.username.capitalize}}'s Todo</h1>
                <div class="right-0 pt-10 mt-5 flex">
                </div>        
            </div>
            <div class="mt-8">
                <ul>
                    {% for task in tasks %}
                        
<ul class="w-full text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
    <a href="{% url 'task-detail' task.id %}">
    <li class="py-2 px-4 w-full text-center rounded-t-lg border-b border-gray-200 dark:border-gray-600">{{task.title}}</li>
</a>
</ul>

{% empty %}

<p class="text-center my-3" >
    No tasks yet.
    <a href='{% url "task-create" %}' class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Create one!</a>
</p>

                    {% endfor %}
                        
                </ul>
            </div>
        </div>    
    </div>

{% endblock %}