{% extends 'base.html' %}
{% block title %}Task Detail{% endblock %}
{% block content %}
  {% load tailwind_filters %}
  <form method="POST">
    <div class="col-7">
      {% csrf_token %}
      {{ form|crispy }}
    </div>
    <button type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
      Submit
    </button>
  </form>
{% endblock %}
